/**************************
***************************

TABLE OF CONTENT

1. General styles (like body)
2. Grid
3. Page structure
3.1. Text editor
3.2. 3D Editor

***************************
***************************

***************************
**** 1. General styles (like body)
***************************
*/
html {
  /* Sets up the Base 10 stuff. Still not fixed but relative to what are the user settings */
  font-size: 62.5%;
}
body {
  background-color: #1D1F20;
  color: #fff;
  margin: 0;
  overflow: hidden;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 4rem;
  line-height: 4rem;
  background: #2D3032;
  padding: 0 1.5rem;
  border: .1rem solid #3F3838;
  border-radius: .5rem;
  text-decoration: none;
  color: #747474;
  font-size: 1.8rem;

  -webkit-transition: all .3s;
  transition: all .3s;

  i:before {
    font-size: 1.4rem;
    color: #595959;
  }

  &:hover {
    background: #3d4042;
    border: .1rem solid #4e4747;
    color: #828282;
    cursor: pointer;
    i:before {
      color: #727272;
    }
  }

  &.btn-small {
    margin: 0;
    height: 2.5rem;
    line-height: 2.4rem;
    font-size: 1.2rem;
    border-radius: 0;
    padding: 0 .5rem;
  }
}

.title-bar {
  height: 2rem;
  line-height: 2rem;
  padding-left: .5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;
  color: #545050;
  border-bottom: .1rem solid #2C2828;
  background: #0D0D0D;
}

.hidden {
  display: none;
}

.js-action {
  cursor: pointer;
}

/*
***************************
**** 2. Grid
***************************
*/
.row {
  overflow: hidden;
}

.col {
  float: left;
  box-sizing: border-box;
}

@for $i from 1 to 12 {
  .col-#{$i} {
    width: ($i/12) * 100%;
  }
}

.col-right-border {
  border-right: .1rem solid #2C2828;
}

/*
***************************
**** 3. Page structure
***************************
*/
.top {
  padding: 1rem 2rem;
  min-height: 6rem;
  border-bottom: .1rem solid #414040;

  h1 {
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 3.2rem;
    padding-top: 1.3rem;

    small {
      margin-left: .5rem;
      color: #ccc;
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
}

/*
***************************
**** 3.1. Text editor
***************************
*/
.ace_editor {
  position: relative;
  height: 53.5rem;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: normal;
  font-family: 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  direction: ltr;
}

.ace_identifier {
  color: #328FFF;
}

.ace-clouds-midnight .ace_string {
  color: #328FFF !important;
}

.ace_identifier:first-child {
  font-weight: bold;
  color: #D6D6D6;
  & + .ace_punctuation.ace_operator {
    font-weight: bold;
    color: #D6D6D6;
  }
}

.ace-clouds-midnight {
  color: #9E9D9D !important;
  .ace_constant.ace_numeric, .ace_keyword.ace_operator {
    color: #9E9D9D !important;
  }
}

.ace-clouds-midnight .ace_comment {
  color: rgb(0, 220, 0) !important;
}

/*
***************************
**** 3.2. 3D editor
***************************
*/
.editor3d {
  text-align: center;
  background-color: #121212;
  color: #222222;
}

.toolbar {
  text-align: left;
  overflow: hidden;
  background-color: #121212;
  height: 2.5rem;
  .btn {
    display: block;
    float: left;
  }
  .btn-small {
    margin: 0 .1rem 0 0;
  }

  label {
    margin-left: .5rem;
    color: #747474;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  input {
    background: #2D3032;
    border: .1rem solid #3F3838;
    height: 1.7rem;
    margin: .2rem 0;
    color: #747474;
    font-size: 1.2rem;
    padding: 0 .3rem;
  }
}

.editor3d-content {
  position: relative;
  .editor-view-controls {
    position: absolute;
    width: 10rem;
    height: 13rem;
    bottom: 2rem;
    right: 2rem;

    table {
      width: 100%;
      height: 12rem;
      text-align: center;

      td {
        vertical-align: middle;
        &.single {
          padding: .5rem 0;
        }
      }

      .btn {
        width: 2.2rem;
        height: 2.2rem;
        line-height: 2.2rem;
        padding: 0;
        display: block;
        margin: 0 auto;
        color: #ccc;
        background: #7C7C7C;
        border-color: #767474;
        border-radius: .3rem;

        &#view-zoomIn {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &#view-zoomOut {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &#view-reset {
          width: auto;
          padding: 0 .5rem;
        }

        i:before {
          color: #BDBDBD;
        }
      }
    }
  }
}

.editor-controls {
  text-align: left;
}

.embed-controls {
  overflow: hidden;
  font-size: 1.1rem;
  color: #ccc;
  margin: .2rem .4rem;
}

.editor-controls-checkbox, .embed-controls-checkbox {
  label, input {
    float: right;
  }

  input {
    margin: .4rem .4rem 0 .4rem;
  }
}

.embed-controls-checkbox {
  label, input {
    float: left;
  }
  label {
    margin-top: .2rem;
    margin-right: .5rem;
  }
}
.embed-controls-input {
  label, input {
    float: left;
  }
  input {
    background: #2D3032;
    border: .1rem solid #3F3838;
    height: 1.7rem;
    margin: .2rem 1rem .2rem .4rem;
    color: #747474;
    font-size: 1.2rem;
    padding: 0 .3rem;
    width: 2.5rem;
    &.long-input {
      width: 40rem;
      margin-left: 1rem;
    }
  }
  label {
    margin: .4rem 0 0 .5rem;
  }
  button.btn.btn-small {
    height: 1.9rem;
    margin-top: .2rem;
    line-height: 1.7rem;
    margin-left: 1rem;
  }

}

.editor-context-menu {
  display: none;
  position: absolute;
  overflow: auto;
  top: 27.6rem;
  left: 61.5rem;
  z-index: 100;
  border: .1rem solid #353535;
  opacity: .95;
  background: #353434; /* Old browsers */
  background: -moz-linear-gradient(top, #353434 0%, #252525 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353434), color-stop(100%, #252525)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #353434 0%, #252525 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #353434 0%, #252525 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #353434 0%, #252525 100%); /* IE10+ */
  background: linear-gradient(to bottom, #353434 0%, #252525 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353434', endColorstr='#252525', GradientType=0); /* IE6-9 */

  p {
    font-size: 1.1rem;
    color: #ccc;
    margin: .2rem .4rem;
  }

  table {
    font-size: 1.1rem;
    text-align: center;
    color: #ccc;
    input {
      width: 3.7rem;
      background: rgb(76, 74, 74);
      border: .1rem solid rgb(87, 87, 87);
    }
    td.propName {
      text-align: right;
      font-weight: bold;
      padding: 0 .5rem;
    }
  }
}

.modal {
  display: none;

  textarea {
    margin: 0;
    width: 100%;
    min-height: 14.8rem;
    border: .1rem solid #222;
    box-sizing: border-box;
    padding: .5rem;
    resize: vertical;
    background-color: #000;
    color: #ccc;
  }
}

.ui-widget .modal textarea {
  font-size: 1.2rem;
  font-family: Consolas, Lucida Console, monospace;
}

#models-in-file-list {
  max-height: 30rem;
  overflow-y: auto;

  li:hover {
    cursor: pointer;
    color: yellow;
  }
}


#embed-editor-url-container {
  margin-top: 1rem;
}
#embedEditorURL {
  width: 40rem;
  margin-left: 1rem;
}

.cf {
  clear: both;
  overflow: hidden;
}

@media (max-width: 102rem) {
  #editor3d-toolbar {
    height: auto;

    .editor-controls-checkbox {
      float: left;
    }
  }
}

#model-description-show-more {
  display: inline-block;
  margin-left: .5rem;
  margin-top: .4rem;
  height: 1.9rem;
  line-height: 1.6rem;
  float: none;
}
.dropdown-advanced {
  display: inline-block;

  > button {
    padding-bottom: 4rem;
  }
  .dropdown-menu {
    width: 16rem;
    margin-left: -1.8rem;
  }
}
.open>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  float: none;
  margin-top: .8rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  display: none;
  padding: .5rem 0;
  font-size: 1.4rem;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: .4rem;
  -webkit-box-shadow: 0 .6rem 1.2rem rgba(0,0,0,.175);
  box-shadow: 0 .6rem 1.2rem rgba(0,0,0,.175);

  background: #2D3032;
  border: .1rem solid #3F3838;
  text-decoration: none;
  color: #747474;
  .btn {
    border: 0;
    margin: 0;
    font-size: 1.4rem;
    display: block;
    border-radius: 0;
  }
}